
$font-family: 'Libre Franklin', sans-serif;
$decorative-font-family: 'American Typewriter Condensed', sans-serif;

$font-sizes: (
    xs: 8,
    s: 10,
    xm: 12,
    m: 14,
    ml: 16,
    l: 18,
    xl: 20,
    xxl: 22,
    xxxl: 24
);

$line-heights: (
    xs: 1.1,
    s: 1.1,
    xm: 1.1,
    m: 1.2,
    ml: 1.4,
    l: 1.2,
    xl: 1.3,
    xxl: 1.3,
    xxxl: 1.3
);


$breakpoints: (
    0: 320,
    1: 420,
    2: 576,
    3: 768,
    4: 1024,
    5: 1280,
    6: 1440,
    7: 1680,
    8: 1920,
);


$colors: (
    brand-pink: rgb( 255, 0, 255 ),
    brand-green: rgb( 128, 255, 0 ),
    
    dark-grey: rgb( 140, 140, 140 ),
    light-grey: rgb( 244, 244, 244 ),
    
    dark: rgb( 51, 51, 51 ),

    white: rgb( 255, 255, 255 ),
    black: rgb( 0, 0, 0 )
);


$mobile_max-page-width: 100%;
$mobile_side-padding: 20;
$mobile_header-height: 65;

$desktop_max-page-width: breakpoint(5);
$desktop_side-padding: 15;
$desktop_header-height: 92;

$radius: 2;
