
@font-face {
  font-family: 'American Typewriter Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/american-typewriter-condensed.eot');
  src: local('American Typewriter Condensed'), local('AmericanTypewriterCondensed'), local('AmericanTypewriter-Condensed'),
       url('/fonts/american-typewriter-condensed.eot?#iefix') format('embedded-opentype'),
       url('/fonts/american-typewriter-condensed.woff2') format('woff2'),
       url('/fonts/american-typewriter-condensed.woff') format('woff'),
       url('/fonts/american-typewriter-condensed.ttf') format('truetype'),
       url('/fonts/american-typewriter-condensed.svg#american-typewriter-condensed') format('svg');
}

@font-face {
  font-family: 'American Typewriter Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/american-typewriter-condensed-bold.eot');
  src: local('American Typewriter Condensed Bold'), local('AmericanTypewriterCondensedBold'), local('AmericanTypewriter-Condensed-Bold'),
       url('/fonts/american-typewriter-condensed-bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/american-typewriter-condensed-bold.woff2') format('woff2'),
       url('/fonts/american-typewriter-condensed-bold.woff') format('woff'),
       url('/fonts/american-typewriter-condensed-bold.ttf') format('truetype'),
       url('/fonts/american-typewriter-condensed-bold.svg#american-typewriter-condensed-bold') format('svg');
}

@font-face {
  font-family: 'American Typewriter Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/american-typewriter-condensed-light.eot');
  src: local('American Typewriter Condensed Light'), local('AmericanTypewriterCondensedLight'), local('AmericanTypewriter-Condensed-Light'),
       url('/fonts/american-typewriter-condensed-light.eot?#iefix') format('embedded-opentype'),
       url('/fonts/american-typewriter-condensed-light.woff2') format('woff2'),
       url('/fonts/american-typewriter-condensed-light.woff') format('woff'),
       url('/fonts/american-typewriter-condensed-light.ttf') format('truetype'),
       url('/fonts/american-typewriter-condensed-light.svg#american-typewriter-condensed-light') format('svg');
}


@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/libre-franklin-100.eot');
  src: local('Libre Franklin Thin'), local('LibreFranklin-Thin'),
       url('/fonts/libre-franklin-100.eot?#iefix') format('embedded-opentype'),
       url('/fonts/libre-franklin-100.woff2') format('woff2'),
       url('/fonts/libre-franklin-100.woff') format('woff'),
       url('/fonts/libre-franklin-100.ttf') format('truetype'),
       url('/fonts/libre-franklin-100.svg#LibreFranklin') format('svg');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 100;
  src: url('/fonts/libre-franklin-100italic.eot');
  src: local('Libre Franklin Thin Italic'), local('LibreFranklin-ThinItalic'),
       url('/fonts/libre-franklin-100italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/libre-franklin-100italic.woff2') format('woff2'),
       url('/fonts/libre-franklin-100italic.woff') format('woff'),
       url('/fonts/libre-franklin-100italic.ttf') format('truetype'),
       url('/fonts/libre-franklin-100italic.svg#LibreFranklin') format('svg');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/libre-franklin-200.eot');
  src: local('Libre Franklin ExtraLight'), local('LibreFranklin-ExtraLight'),
       url('/fonts/libre-franklin-200.eot?#iefix') format('embedded-opentype'),
       url('/fonts/libre-franklin-200.woff2') format('woff2'),
       url('/fonts/libre-franklin-200.woff') format('woff'),
       url('/fonts/libre-franklin-200.ttf') format('truetype'),
       url('/fonts/libre-franklin-200.svg#LibreFranklin') format('svg');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 200;
  src: url('/fonts/libre-franklin-200italic.eot');
  src: local('Libre Franklin ExtraLight Italic'), local('LibreFranklin-ExtraLightItalic'),
       url('/fonts/libre-franklin-200italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/libre-franklin-200italic.woff2') format('woff2'),
       url('/fonts/libre-franklin-200italic.woff') format('woff'),
       url('/fonts/libre-franklin-200italic.ttf') format('truetype'),
       url('/fonts/libre-franklin-200italic.svg#LibreFranklin') format('svg');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/libre-franklin-300.eot');
  src: local('Libre Franklin Light'), local('LibreFranklin-Light'),
       url('/fonts/libre-franklin-300.eot?#iefix') format('embedded-opentype'),
       url('/fonts/libre-franklin-300.woff2') format('woff2'),
       url('/fonts/libre-franklin-300.woff') format('woff'),
       url('/fonts/libre-franklin-300.ttf') format('truetype'),
       url('/fonts/libre-franklin-300.svg#LibreFranklin') format('svg');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/libre-franklin-300italic.eot');
  src: local('Libre Franklin Light Italic'), local('LibreFranklin-LightItalic'),
       url('/fonts/libre-franklin-300italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/libre-franklin-300italic.woff2') format('woff2'),
       url('/fonts/libre-franklin-300italic.woff') format('woff'),
       url('/fonts/libre-franklin-300italic.ttf') format('truetype'),
       url('/fonts/libre-franklin-300italic.svg#LibreFranklin') format('svg');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/libre-franklin-regular.eot');
  src: local('Libre Franklin'), local('LibreFranklin-Regular'),
       url('/fonts/libre-franklin-regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/libre-franklin-regular.woff2') format('woff2'),
       url('/fonts/libre-franklin-regular.woff') format('woff'),
       url('/fonts/libre-franklin-regular.ttf') format('truetype'),
       url('/fonts/libre-franklin-regular.svg#LibreFranklin') format('svg');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/libre-franklin-italic.eot');
  src: local('Libre Franklin Italic'), local('LibreFranklin-Italic'),
       url('/fonts/libre-franklin-italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/libre-franklin-italic.woff2') format('woff2'),
       url('/fonts/libre-franklin-italic.woff') format('woff'),
       url('/fonts/libre-franklin-italic.ttf') format('truetype'),
       url('/fonts/libre-franklin-italic.svg#LibreFranklin') format('svg');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/libre-franklin-500.eot');
  src: local('Libre Franklin Medium'), local('LibreFranklin-Medium'),
       url('/fonts/libre-franklin-500.eot?#iefix') format('embedded-opentype'),
       url('/fonts/libre-franklin-500.woff2') format('woff2'),
       url('/fonts/libre-franklin-500.woff') format('woff'),
       url('/fonts/libre-franklin-500.ttf') format('truetype'),
       url('/fonts/libre-franklin-500.svg#LibreFranklin') format('svg');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/libre-franklin-500italic.eot');
  src: local('Libre Franklin Medium Italic'), local('LibreFranklin-MediumItalic'),
       url('/fonts/libre-franklin-500italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/libre-franklin-500italic.woff2') format('woff2'),
       url('/fonts/libre-franklin-500italic.woff') format('woff'),
       url('/fonts/libre-franklin-500italic.ttf') format('truetype'),
       url('/fonts/libre-franklin-500italic.svg#LibreFranklin') format('svg');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/libre-franklin-600.eot');
  src: local('Libre Franklin SemiBold'), local('LibreFranklin-SemiBold'),
       url('/fonts/libre-franklin-600.eot?#iefix') format('embedded-opentype'),
       url('/fonts/libre-franklin-600.woff2') format('woff2'),
       url('/fonts/libre-franklin-600.woff') format('woff'),
       url('/fonts/libre-franklin-600.ttf') format('truetype'),
       url('/fonts/libre-franklin-600.svg#LibreFranklin') format('svg');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/libre-franklin-600italic.eot');
  src: local('Libre Franklin SemiBold Italic'), local('LibreFranklin-SemiBoldItalic'),
       url('/fonts/libre-franklin-600italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/libre-franklin-600italic.woff2') format('woff2'),
       url('/fonts/libre-franklin-600italic.woff') format('woff'),
       url('/fonts/libre-franklin-600italic.ttf') format('truetype'),
       url('/fonts/libre-franklin-600italic.svg#LibreFranklin') format('svg');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/libre-franklin-700.eot');
  src: local('Libre Franklin Bold'), local('LibreFranklin-Bold'),
       url('/fonts/libre-franklin-700.eot?#iefix') format('embedded-opentype'),
       url('/fonts/libre-franklin-700.woff2') format('woff2'),
       url('/fonts/libre-franklin-700.woff') format('woff'),
       url('/fonts/libre-franklin-700.ttf') format('truetype'),
       url('/fonts/libre-franklin-700.svg#LibreFranklin') format('svg');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/libre-franklin-700italic.eot');
  src: local('Libre Franklin Bold Italic'), local('LibreFranklin-BoldItalic'),
       url('/fonts/libre-franklin-700italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/libre-franklin-700italic.woff2') format('woff2'),
       url('/fonts/libre-franklin-700italic.woff') format('woff'),
       url('/fonts/libre-franklin-700italic.ttf') format('truetype'),
       url('/fonts/libre-franklin-700italic.svg#LibreFranklin') format('svg');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/libre-franklin-800.eot');
  src: local('Libre Franklin ExtraBold'), local('LibreFranklin-ExtraBold'),
       url('/fonts/libre-franklin-800.eot?#iefix') format('embedded-opentype'),
       url('/fonts/libre-franklin-800.woff2') format('woff2'),
       url('/fonts/libre-franklin-800.woff') format('woff'),
       url('/fonts/libre-franklin-800.ttf') format('truetype'),
       url('/fonts/libre-franklin-800.svg#LibreFranklin') format('svg');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 800;
  src: url('/fonts/libre-franklin-800italic.eot');
  src: local('Libre Franklin ExtraBold Italic'), local('LibreFranklin-ExtraBoldItalic'),
       url('/fonts/libre-franklin-800italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/libre-franklin-800italic.woff2') format('woff2'),
       url('/fonts/libre-franklin-800italic.woff') format('woff'),
       url('/fonts/libre-franklin-800italic.ttf') format('truetype'),
       url('/fonts/libre-franklin-800italic.svg#LibreFranklin') format('svg');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/libre-franklin-900.eot');
  src: local('Libre Franklin Black'), local('LibreFranklin-Black'),
       url('/fonts/libre-franklin-900.eot?#iefix') format('embedded-opentype'),
       url('/fonts/libre-franklin-900.woff2') format('woff2'),
       url('/fonts/libre-franklin-900.woff') format('woff'),
       url('/fonts/libre-franklin-900.ttf') format('truetype'),
       url('/fonts/libre-franklin-900.svg#LibreFranklin') format('svg');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 900;
  src: url('/fonts/libre-franklin-900italic.eot');
  src: local('Libre Franklin Black Italic'), local('LibreFranklin-BlackItalic'),
       url('/fonts/libre-franklin-900italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/libre-franklin-900italic.woff2') format('woff2'),
       url('/fonts/libre-franklin-900italic.woff') format('woff'),
       url('/fonts/libre-franklin-900italic.ttf') format('truetype'),
       url('/fonts/libre-franklin-900italic.svg#LibreFranklin') format('svg');
}
