
$underline-thickness: 1;

.component__nav-footer, .component__nav-top {
    li {
        a {
            display: inline-block;
                    
            text-decoration: none;
            
            transition: color 0.2s ease-in-out 0s;
    
            &:after {
                content: '';
                display: block;
                width: 0;
                height: rem($underline-thickness);
                background: color(black);
                transition: width 0.3s ease-in-out 0s;
            }
            
            &:hover, &:focus {
                color: color(black);
                
                &:after {
                    width: 100%;    
                }
            }    
        }
        
        &.active {
            a {
                color: color(black);
                &:after {
                    width: 100%;    
                }
            }
        }
    }
}


@mixin text-link {
    text-decoration: underline;
    
    transition: all 0.2s;
    
    &:hover, &:focus {
        text-decoration: none;
        background-color: rgba( color(brand-pink), 0.8);
        color: color(white);
    }
}
.text-link { @include text-link; }
