#insurance-fee-calculator {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        
        li {
            margin: 0;
        }
        
    }
    
    a:hover, a:focus {
        background-color: inherit;
    }
    
    #wg-hyve-site-connect {
        .wg-hyve-site-connect-container {
            margin-bottom: 0;
        }
        
        .wg-hyve-site-connect-signets {
            display: none;
        }
    }
}
