{{ $baseURL := index $.Page.Site.Params "tracking-base-url" | default $.Site.BaseURL }}
{{ $path := "style/exports" }}
{{ $fileName := "tracking-opt-out" }}


{{ $styleFolderPath := printf "%s/%s" "app/static" $path }}
{{ if ( fileExists $styleFolderPath ) }}
{{ range ( readDir $styleFolderPath ) }}
    {{ $fileNameParts := split .Name "." }}
    {{ $fileBasename := first 1 $fileNameParts }}
    {{ $fileExtension := last 1 $fileNameParts }}
    {{ if and (index $fileExtension 0 | eq "css") (index $fileBasename 0 | eq $fileName) }}
        {{ printf "%s%s/%s" $.Site.BaseURL $path .Name | $.Scratch.Set "cssfile"  }}
    {{ end }}
{{ end }}
{{ end }}

<iframe 
    class="shortcode__tracking-opt-out shortcode"
    frameborder="no"
    src="{{ $baseURL }}index.php?module=CoreAdminHome&action=optOut&idsite=6&language={{ $.Site.LanguageCode }}"
></iframe>

