
// handle all the different style files: https://stackoverflow.com/questions/45735498/output-stylesheets-only-for-specific-entry-points-in-webpack-without-any-script



const path = require('path');
const { Buffer } = require('buffer');
const { EOL } = require('os')

const MiniCssExtractPlugin = require('mini-css-extract-plugin');
const CopyWebpackPlugin = require('copy-webpack-plugin');

const { optimize } = require('svgo');


const PROD = process.env.NODE_ENV === 'production';


module.exports = {

    target: 'web',

    mode: PROD ? 'production' : 'development',

    entry: {
        main: [
            './app/js/main.js',
            './app/styling/main.scss',
        ],
        'piwik-opt-out': [
            './app/styling/piwik-opt-out.scss'
        ]
    },

    devtool: PROD ? false : 'source-map',

    output: {
        path: path.resolve(__dirname, 'app'),
        filename: `./static/script/[name]${ PROD ? '.[contenthash:20]' : '' }.js`,
        clean: false,
    },

    module: {
        rules: [
            {
                test: /\.js$/,
                include: [
                    path.resolve(__dirname, 'app/js/')
                ],
                exclude: [
                    /node_modules/,
                    /(.*)piwik-opt-out(.*)/
                ],
                use: {
                    loader: 'babel-loader'
                }
            },

            {
                test: /\.scss$/,
                enforce: 'pre',
                loader: 'import-glob-loader',
            },

            {
                test: /\.scss$/,
                use: [
                    MiniCssExtractPlugin.loader,
                    {
                        loader: 'css-loader',
                        options: {
                            url: false,
                            import: false,
                        }
                    },
                    {
                        loader: 'sass-loader',
                        options: {
                            implementation: require('sass'),
                            sourceMap: !PROD,
                            sassOptions: {
                                outputStyle: PROD ? 'compressed' : 'expanded'
                            }
                        }
                    }
                ]
            }
        ]
    },

    plugins: [
        new MiniCssExtractPlugin({
            filename: (pathData) => {
                if (pathData.chunk.name === 'piwik-opt-out') {
                    return `./static/style/exports/piwik-opt-out${ PROD ? '.[contenthash:20]' : '' }.css`;
                }
                return `./static/style/[name]${ PROD ? '.[contenthash:20]' : '' }.css`;
            }
        }),

        // SVG to Hugo partial conversion
        new CopyWebpackPlugin({
            patterns: [
                {
                    from: '**/*.svg',
                    to: 'layouts/partials/svgs/[name].html',
                    context: path.resolve(__dirname, './app/svgs'),
                    transform: {
                        transformer(content, absoluteFrom) {
                            const filename = path.basename(absoluteFrom, '.svg');
                            const fileContentsString = content.toString();

                            // Create config with filename prefix
                            const config = {
                                plugins: [
                                    {
                                        name: 'preset-default',
                                        params: {
                                            overrides: {
                                                cleanupIds: false,
                                            }
                                        }
                                    },
                                    {
                                        name: 'prefixIds',
                                        params: {
                                            delim: '_',
                                            prefix: filename,
                                            prefixIds: true,
                                            prefixClassNames: false,
                                        }
                                    },
                                    {
                                        name: 'addClassesToSVGElement',
                                        params: {
                                            className: '{{ delimit ( default (slice) .classes ) " " }}'
                                        }
                                    }
                                ]
                            };

                            const result = optimize(fileContentsString, {
                                ...config,
                                js2svg: {
                                    pretty: true,
                                    // NOTE: disable default character encoding and use characters *as-is*
                                    encodeEntity: (char) => char
                                }
                            });
                            return Buffer.from(result.data);
                        }
                    }
                }
            ]
        }),

        // Copy etc script
        new CopyWebpackPlugin({
            patterns: [
                {
                    from: 'app/js/etc/tracking.js',
                    to: 'static/script/etc/tracking.js',
                }
            ]
        }),

        // Copy vendor scripts
        new CopyWebpackPlugin({
            patterns: [
                {
                    from: `node_modules/jquery/dist/jquery${ PROD ? '.min' : '' }.js`,
                    to: 'static/script/vendors/jquery.js',
                },
                {
                    from: 'app/js/vendors/jquery-v1.12.4.min.js',
                    to: 'static/script/vendors/jquery-v1.12.4.min.js',
                },
                {
                    from: `node_modules/slick-carousel/slick/slick${ PROD ? '.min' : '' }.js`,
                    to: 'static/script/vendors/slick.js',
                },
                {
                    from: `node_modules/leaflet/dist/leaflet${ PROD ? '' : '-src' }.js`,
                    to: 'static/script/vendors/leaflet.js',
                },
                {
                    from: 'node_modules/leaflet-providers/leaflet-providers.js',
                    to: 'static/script/vendors/leaflet-providers.js',
                },
                {
                    from: 'node_modules/leaflet/dist/images',
                    to: 'static/media/images/assets/vendors/leaflet',
                }
            ]
        }),

        // Copy vendor styles
        new CopyWebpackPlugin({
            patterns: [
                {
                    from: 'node_modules/slick-carousel/slick/slick.css',
                    to: 'static/style/vendors/slick.css',
                },
                {
                    from: 'node_modules/slick-carousel/slick/slick-theme.css',
                    to: 'static/style/vendors/slick-theme.css',
                },
                {
                    from: 'node_modules/leaflet/dist/leaflet.css',
                    to: 'static/style/vendors/leaflet.css',
                    transform: {
                        transformer(content) {
                            const contentsString = content.toString();
                            const transformedContentsString = contentsString.replace(
                                /url\(images/g,
                                'url(/media/images/assets/vendors/leaflet'
                            );
                            return Buffer.from(transformedContentsString);
                        }
                    }
                }
            ]
        }),

        // Merge translation files into one file per language
        // FUTUREWORK: validate merged YAML and throw if keys are defined multiple times
        // FUTUREWORK: support any language
        new CopyWebpackPlugin({
            patterns: [
                {
                    from: 'app/translations/*.de.yaml',
                    to: 'i18n/de.yaml',
                    transformAll( assets ){
                        const bufferedNewLine = Buffer.from( EOL )
                        
                        const bufferedMergedFileContent = Buffer.concat(
                            assets.reduce( ( bufferedFileParts, asset )=> {
                                bufferedFileParts.push(
                                    asset.data,
                                    bufferedNewLine,
                                    bufferedNewLine
                                )
                                return bufferedFileParts;
                            }, [ /* bufferedFileParts */ ] )
                        );
                        
                        return bufferedMergedFileContent.toString();
                    }
                }
            ]
        })
    ],

    optimization: {
        minimize: PROD
    }

};
