{{ $list := index $.Page.Site.Data (.Get "data-file") (.Get "list") | default slice }}
<div class="shortcode__logo-grid shortcode">
    {{ if gt (len $list) 0 }}
    <ul class="logo-list">
    {{ range $list }} 
        <li>
        {{ if .link }}<a class="flow" href="{{ .link }}" title="Website: {{ .label }}" target="_blank">{{ else }}<div class="flow">{{ end }}
        
        {{ if .svg }}
            <div class="flow--svg">
                {{ printf "svgs/%s.html" .svg | partial }}
            </div>
        {{ else if .img }}
            <div class="flow--img">
                {{ $img := dict "src" .img "alt" (printf "Logo: %s" .label) }}
                {{ partial "components/img.html" $img }}
            </div>
        {{ else }}
            <div class="flow--text">
                <span>{{ .label }}</span>
            </div>        
        {{ end }}
        
        {{ if .link }}</a>{{ else }}</div>{{ end }}
        </li>
    {{ end }}
    </ul>
    {{ end }}
</div>
