.component__article-nav {
    margin-top: rem(45);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;    
    
    color: color(grey-dark);
    font-weight: 300;
    
    & > * {
        min-width: calc(100% / 2);
        text-align: center;
        display: block;    

        &.prev {
            text-align: left;
            max-width: 100%;
            flex-grow: 2;
        }
        
        &.next {
            text-align: right;
            max-width: 100%;
            flex-grow: 2;
        }
    }
    
    
}
