.component__article--preview {
    
    h4 {
        font-size: rem(34);
        margin-bottom: rem(0);
        margin-top: rem(0);
    }
    
    h5 {
        color: color(grey-dark);
        font-weight: 300;
        font-size: rem(15);
    }
    
    .content-preview {
        margin-top: rem(20);
        @include type(ml);
        
        position: relative;
        
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            height: rem(30);
            width: 100%;
            
            background: linear-gradient(to top, rgba(color(bg-light),1.0) 0%, rgba(color(bg-light),0.0) 100%);
        }
    }
    
    nav {
        margin-top: rem(6);
        text-align: right;
    }

}
