
.component__aside {
    display: inline-block;
    height: 0;
    position: absolute;
}

.aside-nav {
    max-width: rem(300);
    width: 20vw;
    
    transition: margin-left 0.35s 0.6s, height 0.35s;
    
    border-top-right-radius: rem(5);
    border-bottom-right-radius: rem(5);
    
    background-color: color(bg-dark);
    min-width: rem(200);  
    
    margin-top: rem($desktop_side-gap);
    height: calc( 100vh - #{rem($desktop_side-gap + $desktop_header-height_min + $desktop_side-gap)});
    
    //margin-left: 0;
    margin-left: -90%;
    
    position: relative;
    
    &:hover {
        margin-left: 0;
        transition: margin-left 0.2s;    
    }
}


#site{
    &[data-state_header="shrinked"] {

        .aside-nav {
            height: calc( 100vh - #{rem($desktop_side-gap + $desktop_header-height_min + $desktop_side-gap)});
        }
    }


    &[data-state_footer="visible"] {

        .aside-nav {
            height: calc( 100vh - #{rem($desktop_side-gap + $desktop_header-height_min + $desktop_footer-height + $desktop_side-gap)});
        }
    }
}
