
.component__aside {
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    
    max-width: rem(300);
    min-width: rem(200);  
    width: 20vw;
    height: 100vh;
    
    // NOTE: compensate header height
    &:before {
        content: '';
        height: ($desktop_header-height_row-thick_rel + $desktop_header-height_row-thin_rel) * 1vh;
        display: block;
        min-height: rem($desktop_header-height_min);
    }
    
    // NOTE: compensate footer height
    &:after {
        content: '';
        height: 0;
        display: block;
        max-height: 0;
        
        transition: all 0.18s;
    }
}

.aside-nav {
    flex-grow: 1;
    transition: left 0.35s 0.2s;
    
    border-top-right-radius: rem(5);
    border-bottom-right-radius: rem(5);
    
    background-color: color(bg-dark);
    
    margin-top: rem($desktop_aside-gap);
    margin-bottom: rem($desktop_aside-gap);
    
    //left: 100%;
    left: 15%;
    
    position: relative;
    
    &:hover, &[data-state="open"] {
        left: 100%;
        transition: left 0.2s;    
    }
}


#site{
    &[data-state_header="changed"] {

    }


    &[data-state_footer="visible"] {

        .component__aside {
            // NOTE: compensate footer height
            &:after {
                content: '';
                display: block;
                height: $desktop_footer-height_rel * 1vh;
                max-height: rem($desktop_footer-height_max);
            }
        }
    }
}
