{{ $currentPage := . }}

<aside class="component__blog-sidebar">
    
    {{ if .IsPage }}
    <a class="go-up" 
       href="{{ ($.Site.GetPage "section" "blog").URL | relLangURL }}"
    >
        ← <span>{{ i18n "back-to-list" }}</span>
    </a>
    {{ else if eq .Kind "taxonomy"}}
    <a class="go-up"
       href="{{ ($.Site.GetPage "section" "blog").URL | relLangURL }}"
    >
        ← <span>{{ i18n "back-to-overview" }}</span>
    </a>
    {{ end }}
    
    {{ $enabled := default false ($.Site.Data.banner.isEnabled) }}
    {{ if $enabled }}
    <div class="news">
        <h3><span>{{ i18n "news" }}:</span></h3>
        <div>
            {{ $.Site.Data.banner.message | markdownify }}
        </div>
    </div>
    {{ end }}

    {{ $tagCount := len $.Site.Taxonomies.tags }}
    {{ $tagList := .Params.tags }}
    <nav class="tags">
        <h3><span>{{ i18n "tag" $tagCount }}</span></h3>
        <ul>
            {{ range ($.Site.GetPage "taxonomyTerm" "tags").Pages }}
            <li class="{{ if or (in $tagList .Data.Term) (in $currentPage.URL .URL) }}active{{end}}">
                <a href="{{ .URL | relLangURL }}">{{ .LinkTitle }} ({{ len .Pages }})</a>
            </li>
            {{ end }}
        </ul>
    </nav>
    
</aside>
