<div class="header-nav" id="page-header-nav">
    <div class="edge-spacer--h header-nav--inner">
        <div class="flow-wrap">
            <div class="logo-wrap">
                <a href="/">
                    {{ partial "svgs/logo.html" ( dict "classes" ( slice "logo" ) ) }}
                </a>
            </div>
        </div>

        <div class="nav-top--wrap">
            {{ partial "components/nav-top.html" . }}
            
            <div class="contact">
                <p>10:00 - 19:00 Uhr</p>
                <p>Do + So geschlossen</p>
                <a href="tel:00493062986005">Tel 030 / 62986005</a>
                <address>
                    Flughafenstraße. 50<br>
                    12053 Berlin
                </address>
            </div>
        </div>
    </div>
</div>
