
.header__container {
        
    .header__inner {
        position: relative;
    }
    
    
    .row-wrap__contacts, .row-wrap__nav {
        width: 100%;
        transition: background-color 0.15s;
        
        @include flex-center;
    } 
    
    .row-wrap__contacts {
        height: percentageDesktopPageHeight($desktop_header-height_row-thin);
        min-height: rem($desktop_header-height_row-thin);
        
        background-color: color(bg-dark);
        color: color(white);
                
        .row-wrap__contacts--inner {
            width: 100%;
        }
        
        .contact {
            width: 100%;
            max-width: rem(1060);
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            
            & > *:first-child {
                font-weight: 700;
            }
            
            @include type(m);
            
            address {
                display: inline;
            }
            
            * {
                font-weight: inherit;
            }
            
            li {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;
            }
            
            .icon {
                fill: color(white);
                height: rem(16);
                margin-right: rem(16);
            }
        }
    }
    
    .row-wrap__nav {
        height: percentageDesktopPageHeight($desktop_header-height_row-thick);
        min-height: rem($desktop_header-height_row-thick);
        
        background-color: color(brand-pink);
        color: color(white);
    }
    

    
    &[data-offset="0"] {
        .row-wrap__contacts {
            background-color: color(bg-dark);
        }
        
        .row-wrap__nav {
            background-color: color(brand-pink);
        }
    }
}


#site[data-state_header="changed"] {
    
    .header__inner {
        .row-wrap__contacts {
            
        }
        
        .row-wrap__nav {
            background-color: rgba( color(brand-pink), 0.8 );
        }
    }

}
