.component__nav-top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    @include bp-medium() {
        width: 100%;
    }

    ul {
       align-self: center;
       display: flex;
       flex-flow: column wrap;
       gap: rem(10);

        @include bp-medium() {
            gap: 0;
            justify-content: space-between;
            align-items: center;
            max-width: rem(770);
            width: 100%;
        }

        @include bp-medium() {
            flex-flow: row nowrap;
            align-items: flex-end;
        }

        li {
            font-family: $decorative-font-family;
            @include type(xxxl);
            font-weight: 700;
            
            & ~ * {
                
            }
        }
    }
}
