<nav class="component__nav-footer-cols">
    <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.footer_col1 }}
        <li class="{{ if or ($currentPage.IsMenuCurrent "footer_col1" .) ($currentPage.HasMenuCurrent "footer_col1" .) }}active{{end}}">
            <a  href="{{ .URL | relLangURL }}">{{ .Name }}</a>
        </li>
        {{ end }}
    </ul>

    <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.footer_col2 }}
        <li class="{{ if or ($currentPage.IsMenuCurrent "footer_col2" .) ($currentPage.HasMenuCurrent "footer_col2" .) }}active{{end}}">
            <a  href="{{ .URL | relLangURL }}">{{ .Name }}</a>
        </li>
        {{ end }}
    </ul>
</nav>
