.component__nav-footer-cols {
    display: flex;
    flex-flow: row nowrap;
    
    ul {
        
        & ~ * {
            margin-left: rem(80);
        }
        
        li {
            font-family: $decorative-font-family;
            @include type(xxl);
            color: color(white);
            
            transition: color 0.2s ease-in-out 0s;
            
            &:hover, &:focus {
                color: color(black)
            }
        }
    }
}
