<nav class="component__nav-aside" id="side-menu">
    
    {{ $section := .Section }}
    {{ $parent := .Parent }}
    {{ $currentPage := . }}   
    
    <nav class="menu__breadcrumbs" aria-label="You are here">
        <ol>
            {{ template "breadcrumb" dict "parentPage" $parent "currentPage" $currentPage "global" $ }}
        </ol>
    </nav>
    
    <div class="menu__wrap" parent="{{ printf "%#v" $parent.IsHome }}">
        
        <ul class="menu__level menu__level--current">
        {{ if $currentPage.IsPage }}
            {{ if not $currentPage.Params.headless }}
            
            {{ range sort $parent.Pages ".Params.model" "asc" }}
            {{ if not .Params.headless }}
            <li class="menu__item" data="page">
                <a class="menu__link {{ if eq . $currentPage }}menu__link--current{{ end }}"
                   data-submenu="submenu--{{ delimit (split (trim .URL "/") "/") "-" }}" 
                   href="{{ .URL | relLangURL }}">
                    {{ .Params.model }} ({{ .Params.manufacturer }})
                </a>
            </li>
            {{ end }}
            {{ end }}

            {{ end }}
        {{ else }}

            {{ .Scratch.Set "sections" $parent.Sections }}
            {{ if $parent.IsHome }}
                {{ .Scratch.Set "sections" $currentPage.Sections }}
            {{ end }}
            
            {{ range sort (.Scratch.Get "sections") ".Params.weight" "asc" }}
            {{ if .IsNode }}
            {{ if not .Params.headless }}
            <li class="menu__item" data="node">
                <a class="menu__link {{ if eq . $currentPage }}menu__link--current{{ end }}"
                   data-submenu="submenu--{{ delimit (split (trim .URL "/") "/") "-" }}" 
                   href="{{ .URL | relLangURL }}">
                    {{ .LinkTitle }}
                </a>
            </li>
            {{ end }}
            {{ end }}
            {{ end }}
        
        {{ end }}
        </ul>
    </div>
</nav>





{{ define "breadcrumb" }}
    {{ $pagesInTopMenu := where .global.Site.Menus.top ".Page.UniqueID" .parentPage.UniqueID }}    

    {{ if and (not .parentPage.IsHome) }}

    {{ if .parentPage.Parent }}
        {{ template "breadcrumb" dict "parentPage" .parentPage.Parent "currentPage" .currentPage "global" .global }}
    {{ end }}

    {{ if not .parentPage.Params.headless }}
    <li>        
        <a href="{{ .parentPage.URL | relLangURL }}" class="">{{ .parentPage.LinkTitle }}</a>
    </li>
    {{ end }}

    {{ end }}
{{ end }}
