.component__nav-aside {
    color: color(white);
    position: absolute;
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
        
    .menu__wrap {
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    .menu__level {
        //position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        width: calc(100% + #{rem(50)});
        height: 100%;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    
    .menu__level--current {
        visibility: visible;
    }
    
    .menu__item {
        display: block;
        width: calc(100% - #{rem(50)});
        
        font-size: rem(font-size(ml));
    }
    
    .menu__link {
        font-weight: 600;
        position: relative;
        display: block;
        padding: rem(16) rem(40) rem(16) rem(24);
        color: color(grey-light);
        transition: color 0.15s;
    }
    
    .menu__link[data-submenu]::after {
        content: '\2026';
        position: absolute;
        right: 0;
        padding: rem(0) rem(20);
        color: color(bg-light);
        opacity: 0.3;
    }
    
    .menu__link:hover,
    .menu__link[data-submenu]:hover::after {
        color: color(brand-pink);
        opacity: 1;
    }
    
    .menu__link--current::before {
        content: '\00B7';
        font-size: rem(24);
        line-height: 0;
        position: absolute;
        top: 50%;
        left: rem(8);
        height: rem(4);
        color: color(brand-pink);
    }
    
    [class^='animate-'],
    [class*=' animate-'] {
        visibility: visible;
    }
    
    .animate-outToRight .menu__item {
        -webkit-animation: outToRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
        animation: outToRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
    }
    
    @-webkit-keyframes outToRight {
        to {
            opacity: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
        }
    }
    
    @keyframes outToRight {
        to {
            opacity: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
        }
    }
    
    .animate-outToLeft .menu__item {
        -webkit-animation: outToLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
        animation: outToLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
    }
    
    @-webkit-keyframes outToLeft {
        to {
            opacity: 0;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }
    }
    
    @keyframes outToLeft {
        to {
            opacity: 0;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }
    }
    
    .animate-inFromLeft .menu__item {
        -webkit-animation: inFromLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
        animation: inFromLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
    }
    
    @-webkit-keyframes inFromLeft {
        from {
            opacity: 0;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }
        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
    
    @keyframes inFromLeft {
        from {
            opacity: 0;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }
        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
    
    .animate-inFromRight .menu__item {
        -webkit-animation: inFromRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
        animation: inFromRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
    }
    
    @-webkit-keyframes inFromRight {
        from {
            opacity: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
        }
        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
    
    @keyframes inFromRight {
        from {
            opacity: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
        }
        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
    
    .menu__breadcrumbs {
        font-size: rem(font-size(xm));
        line-height: 1;
        position: relative;
        padding: rem(26) rem(39) rem(15.5) rem(26);

        ol {
            list-style: none;
        }

        li {
            display: inline;
        }
        
        a {
            font-weight: bold;
            display: inline-block;
            cursor: pointer;
            vertical-align: middle;
            letter-spacing: rem(1);
            color: color(brand-pink);
            transition: color 0.15s;

            &:hover {
                color: color(grey-light);
            }

            &:not(.is-root):before {
                content: '/';
                display: inline-block;
                color: color(brand-pink);
            }
        }

    }
    
    .menu__back {
        font-size: rem(16.8);
        position: absolute;
        z-index: 100;
        top: 0;
        right: rem(37.8);
        margin: 0;
        padding: rem(22.93) rem(10.92) 0 0;
        cursor: pointer;
        color: #2a2b30;
        border: none;
        background: none;
    }
    
    .menu__back--hidden {
        pointer-events: none;
        opacity: 0;
    }
    
    .menu__back:hover,
    .menu__back:focus {
        color: #fff;
        outline: none;
    }
    
    
    /* Open and close buttons */
    
    .action {
        position: absolute;
        display: block;
        margin: 0;
        padding: 0;
        cursor: pointer;
        border: none;
        background: none;
    }
    
    .action:focus {
        outline: none;
    }
    
    .action--open {
        font-size: rem(24);
        top: rem(24);
        left: rem(24);
        display: none;
        color: #fff;
        position: fixed;
        z-index: 1000;
    }
    
    .action--close {
        font-size: rem(17.6);
        top: rem(22);
        right: rem(17.6);
        display: none;
        color: #45464e;
    }
    
}


