<nav class="component__nav-aside" id="side-menu">
    
    {{ $contentsPath := "./app/contents" }}
    {{ $section := .Section }}
    {{ $parent := .Parent }}
    {{ $currentPage := . }}    
    
    <nav class="menu__breadcrumbs" aria-label="You are here">
        <a href="{{ $parent.URL | relLangURL }}" class="{{ if $parent.IsHome }}is-root{{ end }}">
            {{ if $parent.IsHome }}
                /
            {{ else }}
                {{ $parent.Name }}
            {{ end }}
        </a>
    </nav>
    
    <div class="menu__wrap">
        {{ $currentSectionPath := .Dir }}
        
        <ul class="menu__level menu__level--current">
        {{ range (printf "%s/%s" $contentsPath $currentSectionPath | readDir) }}
            {{ $referredSectionPath := printf "%s%s" $currentSectionPath .Name }}
            
            {{ if .IsDir }}
                {{ with $.Site.GetPage "section" $referredSectionPath }}
                <li class="menu__item">
                    <a class="menu__link {{ if eq . $currentPage }}menu__link--current{{ end }}"
                       data-submenu="submenu--{{ replace $referredSectionPath "/" "-" }}" 
                       href="{{ .URL | relLangURL }}">
                        {{ .LinkTitle }}
                    </a>
                </li>
                {{ end }}
            {{ end }}
            
            {{ if in .Name ".md" }}
                {{ with $.Site.GetPage "page" $referredSectionPath }}
                <li class="menu__item">
                    <a class="menu__link {{ if eq . $currentPage }}menu__link--current{{ end }}"
                       href="{{ .URL | relLangURL }}">
                        {{ .LinkTitle }}
                    </a>
                </li>
                {{ end }}
            {{ end }}
            
        {{ end }}
        </ul>
    </div>
</nav>
