.component__nav-top {
    flex-grow: 1;
    
    ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-end;

        li {
            font-family: $decorative-font-family;
            @include type(xxxl);
        };
    }
}
