{{ $paginator := . }}

{{ if or $paginator.HasNext $paginator.HasPrev }}
<nav class="component__posts-list-nav">
    <span>
        {{ if $paginator.HasNext }}
        <a href="{{ $paginator.Next.URL | relLangURL }}">← <span>{{ i18n "older-posts" }}</span></a>
        {{ end }}
    </span>
    
    {{ if gt $paginator.TotalPages 1 }}
    <span class="pages--number">{{ $paginator.PageNumber }} / {{ $paginator.TotalPages }}</span>
    {{ end }}
    
    <span>
        {{ if $paginator.HasPrev}}
        <a href="{{ $paginator.Prev.URL | relLangURL }}"><span>{{ i18n "newer-posts" }}</span> →</a>
        {{ end }}
    </span>
</nav>
{{ end }}
