.component__special-offer {
    @include bp-medium() {
        gap: rem(spacing(3));
    }
    
    .image {
        @include flex-center;
        overflow: hidden;
        
        height: rem(360);
    }
    
    .text {
        @include flex-center;
                
        h3, p {
            text-align: center;
        }
        
        h3 {
            line-height: 1.1;
            font-size: rem(40);
            font-family: $decorative-font-family;
            
            color: color(brand-pink);
            font-style: italic;

            @include bp-medium() {
                font-size: rem(50);
                padding: 0 rem(spacing(3));
            }
        }
        
        p {
            margin-top: rem(spacing(1));
            color: color(greyer);

            @include bp-medium() {
                padding: 0 rem(spacing(5));
            }
            
        }
    }
}
