.layout--master {
    
    .header__flow {
        position: fixed;
        z-index: 500;
        top: 0;
        width: 100%;
    }
    
    .aside__flow {
        position: fixed;
        z-index: 400;
        right: 100vw;
        height: 100vh;
    }
    
    h1, h2, h4 {
        font-family: $decorative-font-family;
        letter-spacing: rem(1);
    }
    
    h1 {
        @include type(xxxl);
        font-size: rem(50);
        margin: rem(35) 0;
    }
    h2 {
        @include type(xxl);
        font-size: rem(40);
    }
    h4 {
        @include type(xxxl);
        font-size: rem(30);
        margin: rem(20) 0;
    }
    
    .contents {
                        
        $section-vertical-margin: spacing(10);
        $headline-section-gap: spacing(9);
        
        // NOTE: compensate header height
        &:before {
            content: '';
            height: ($desktop_header-height_row-thick_rel + $desktop_header-height_row-thin_rel) * 1vh;
            display: block;
            min-height: rem($desktop_header-height_min);
        }
        
        // NOTE: compensate footer height
        &:after {
            content: '';
            height: $desktop_footer-height_rel * 1vh;
            display: block;
            max-height: rem($desktop_footer-height_max);
        }
        
        background-color: color(bg-light);
        
        min-height: 100vh;
        
        @include type(ml);
        
        & > * {
            // NOTE: makes margins not collapsing
            overflow: hidden;
        }
        
        p {
            & ~ p {
                margin-top: rem(30);
            }
        }
        
        section {
            & ~ section {
                margin-top: rem(60);
            }
            
            &:first-child {
                margin-top: rem($section-vertical-margin);
            }
            
            &:last-child {
                margin-bottom: rem($section-vertical-margin);
            }
        }       

        
        .page-title {
            text-align: center;
            margin: 0 0 rem(spacing(2)) 0;            
            
            font-weight: bold;
            
            & + :not(.page-subtitle) {
                margin-top: rem($headline-section-gap);
            }
        }
        
        .page-subtitle {
            text-align: center;
            text-transform: uppercase;
            font-weight: 100;
            color: color(grey-dark);
            
            & + * {
                margin-top: rem($headline-section-gap);
            }
        }
    }
    
    
    .footer__flow {
        position: fixed;
        z-index: 500;
        top: 100vh;
        width: 100%;
    }
}

