.layout--master {
    
    .header__wrap {
        position: fixed;
        top: 0;
        width: 100%;
    }
    
    
    .contents {
        // NOTE: compensate header height
        padding-top: rem($desktop_header-height_big);
        
        background-color: color(bg-light);
        
        min-height: 100vh;
        
        & > * {
            // NOTE: makes margins not collapsing
            overflow: hidden;
        }
        
        h1, h2, h3 {
            font-family: $decorative-font-family;
            letter-spacing: rem(1);
        }
        
        h1 {
            @include type(xxxl);
            font-size: rem(40);
            margin: rem(35) 0;
        }
        h2 {
            @include type(xxl);
            font-size: rem(30);
        }
        h3 {
            @include type(xxxl);
            margin: rem(20) 0;
        }
        
        p {
            @include type(ml);
            
            & ~ p {
                margin-top: rem(30);
            }
        }
        
        section {
            & ~ section {
                margin-top: rem(60);
            }
        }
    }
    
    
    .footer__wrap {
        width: 100%;
    }
}

