.layout--master {
    
    .header__flow {
        position: fixed;
        z-index: 500;
        top: 0;
        width: 100%;
    }
    
    .aside__flow {
        position: fixed;
        z-index: 400;
        right: 100vw;
        height: 100vh;
    }
    
    .contents {
        
        // NOTE: compensate header height
        &:before {
            content: '';
            height: ($desktop_header-height_row-thick_rel + $desktop_header-height_row-thin_rel) * 1vh;
            display: block;
            min-height: rem($desktop_header-height_min);
        }
        
        // NOTE: compensate footer height
        &:after {
            content: '';
            height: $desktop_footer-height_rel * 1vh;
            display: block;
            max-height: rem($desktop_footer-height_max);
        }
        
        background-color: color(bg-light);
        
        min-height: 100vh;
        
        & > * {
            // NOTE: makes margins not collapsing
            overflow: hidden;
        }
        
        h1, h2, h3 {
            font-family: $decorative-font-family;
            letter-spacing: rem(1);
        }
        
        h1 {
            @include type(xxxl);
            font-size: rem(40);
            margin: rem(35) 0;
        }
        h2 {
            @include type(xxl);
            font-size: rem(30);
        }
        h3 {
            @include type(xxxl);
            margin: rem(20) 0;
        }
        
        p {
            @include type(ml);
            
            & ~ p {
                margin-top: rem(30);
            }
        }
        
        section {
            & ~ section {
                margin-top: rem(60);
            }
        }
    }
    
    
    .footer__flow {
        position: fixed;
        z-index: 500;
        top: 100vh;
        width: 100%;
    }
}

