{{ define "main" }}

{{ $itemsPerPage := $.Param "itemsPerPage" | default 5 }}
{{ $postsSectionPath := printf "%s%s" .Dir "beitraege" }}
{{ $posts := $.Site.GetPage "section" $postsSectionPath }}

{{ if $posts }}
{{ $paginator := .Paginate ($posts.Pages.ByDate.Reverse) $itemsPerPage }}
<section class="edge-spacer--h">

    <h1 class="page-title">{{ .Title }}</h1>
    {{ with $.Params.subtitle }}
    <p class="page-subtitle">{{ . }}</p>
    {{ end }}
    
    <div class="row-2-cols">
        <article class="col--left">
            <ul class="posts">
                {{ range $paginator.Pages }}
                <li>
                    {{ partial "components/post-preview.html" . }}
                </li>
                {{ end }}
            </ul>
            
            {{ partial "components/posts-list-nav.html" $paginator }}
        </article>
        
        {{ partial "components/blog-sidebar.html" . }}
    </div>
    
</section>
{{ end }}

{{ end }}
