{{ define "main" }}

{{ $articles := .Parent.Pages.ByDate.Reverse }}
{{ $firstArticle := index (first 1 $articles) 0 }}
{{ $lastArticle := index (last 1 $articles) 0 }}


<section class="edge-spacer--h">
    
    <h1 class="page-title">{{ .Title }}</h1>
    {{ with $.Params.subtitle | default (printf "%02d.%02d.%d" .PublishDate.Day .PublishDate.Month .PublishDate.Year) }}
    <p class="page-subtitle">{{ . }}</p>
    {{ end }}
    
    <div class="row-2-cols">
        <article class="col--left">
            <div class="article--content">
                {{ .Content}}
            </div>
            
            <nav class="component__article-nav">
                {{ with .PrevInSection }}
                <span class="prev">                    
                    <a href="{{ .Permalink | relLangURL }}">← <span>{{ truncate 20 "..." .LinkTitle }}</span></a>
                </span>                
                {{ end }}
    
                {{ with .NextInSection }}
                <span class="next">
                    <a href="{{ .Permalink | relLangURL }}"><span>{{ truncate 20 "..." .LinkTitle }}</span> →</a>
                </span>
                {{ end }}
            </nav>
            
        </article>
        
        {{ partial "components/blog-sidebar.html" . }}
    </div>
    
</section>
{{ end }}
