{{ define "main" }}

{{ $articles := .Parent.Pages.ByDate.Reverse }}
{{ $firstArticle := index (first 1 $articles) 0 }}
{{ $lastArticle := index (last 1 $articles) 0 }}


<section class="edge-spacer--h">
    
    <h1 class="page-title">{{ .Title }}</h1>
    {{ with $.Params.subtitle }}
    <p class="page-subtitle">{{ . }}</p>
    {{ end }}
    
    <div class="row-2-cols">
        <article class="row--left">
            <div class="article--content">
                {{ .Content}}
            </div>
            
            <nav class="component__article-nav">
                {{ with .NextInSection }}
                {{ if ne . $firstArticle }}
                <a class="next" href="{{ .Permalink | relLangURL }}">← <span>{{ truncate 20 "..." .LinkTitle }}</span></a>
                {{ end }}
                {{ end }}
    
                {{ with .PrevInSection }}
                {{ if ne . $lastArticle }}
                <a class="prev" href="{{ .Permalink | relLangURL }}"><span>{{ truncate 20 "..." .LinkTitle }}</span> →</a>
                {{ end }}
                {{ end }}
            </nav>
        </article>
        
        {{ partial "components/blog-sidebar.html" . }}
    </div>
    
</section>
{{ end }}
