<!doctype html>
<html lang="{{ .Lang }}">
<head>
    <meta charset="utf-8">

    {{ $title := delimit (slice .Title "&middot;" .Site.Title) " " }}
    <title>{{ $title }}</title>

    <link rel="canonical" href="{{ .Permalink }}">
    
    {{ partial "head/meta.html" . }}    
    {{ partial "head/icon.html" . }}

    {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ $title }}"/>
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ $title }}"/>
    {{ end }}

    {{ partial "head/csp.html" . }}
    
    {{ block "head" . }}        
    {{ end }}

    {{ partial "head/static.html" . }}
</head>
<body>

    {{ $slug := delimit (findRE "[^/]+" .Permalink | last 1) "" }}
    
    {{ if $.IsPage }}
        {{ $.Scratch.Set "pageName" $.File.TranslationBaseName }}
    {{ else if $.IsHome }}
        {{ $.Scratch.Set "pageName" "home" }}
    {{ else if $.IsNode }}
        {{ $dirName := (delimit (findRE "[^/]+" .File.Dir | last 1) "") }}
        {{ $.Scratch.Set "pageName" $dirName }}
    {{ else }}
        {{ $.Scratch.Set "pageName" $slug }}
    {{ end }}
    {{ $.Scratch.Set "pageName" ($.Param "name" | default ($.Scratch.Get "pageName")) }}
    {{ $page := $.Scratch.Get "pageName" }}
    
    <div id="site" 
         class="layout--{{ .Param "layout-name" | default "master" }} type--{{ .Type }} {{ with .Section }}section--{{ . }}{{ end }} page--{{ $page }}"
         data-state_header="{{ if isset $.Params "scroll-offset-coordinate" }}changed{{ else }}untouched{{ end }}"
         data-state_footer="{{ if ($.Param "showFooter" | default false) }}visible{{ else }}invisible{{ end }}"
    >
    
        <header class="header__flow" id="page-header">
            {{ block "header" . }}
            {{ partial "components/header.html" . }}
            {{ end }}
        </header>
    
        {{ block "aside" . }}        
        {{ end }}
    
        <main class="contents" id="page-contents">
            {{ block "main" . }}
            {{ .Content }}
            {{ end }}
        </main>
    
        <footer class="footer__flow" id="page-footer">
        {{ block "footer" . }}
        {{ partial "components/footer.html" . }} 
        {{ end }}
        </footer>
        
    </div>


    {{ block "dependencies" . }}        
    {{ end }}

    {{ partial "head/tracking-code.html" . }}

</body>
</html>
