<!doctype html>
<html lang="{{ .Lang }}">
<head>
    <meta charset="utf-8">

    {{ $title := delimit (slice .Title "&middot;" .Site.Title) " " }}
    <title>{{ $title }}</title>

    <link rel="canonical" href="{{ .Permalink }}">
    
    {{ partial "head/meta.html" . }}

    {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ $title }}"/>
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ $title }}"/>
    {{ end }}


    {{ partial "head/static.html" . }}
</head>
<body>

    {{ $slug := delimit (findRE "(?:\\w)+" .Permalink | last 1) "" }}
    <div id="site" class="layout--{{ .Param "layout-name" | default "master" }} type--{{ .Type }} page--{{ $.Param "name" | default $slug }}">
    
        {{ block "header" . }}
        {{ partial "components/header.html" . }}
        {{ end }}
        
        <main class="contents" id="page-contents">
            {{ partial "components/banner.html" . }}
            {{ block "main" . }}
            {{ .Content }}
            {{ end }}
        </main>
    
        {{ block "footer" . }}
        {{ partial "components/footer.html" . }} 
        {{ end }}
        
    </div>

</body>
</html>
