{{ $iconPath := "/media/images/favicons/favicon" }}

<!--[if IE]><link rel="shortcut icon" href="{{ $iconPath }}.ico"><![endif]-->

<link rel="apple-touch-icon" sizes="57x57" href="{{ $iconPath }}_57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{ $iconPath }}_60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ $iconPath }}_72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ $iconPath }}_76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ $iconPath }}_114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ $iconPath }}_120x120.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ $iconPath }}_152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ $iconPath }}_180x180.png">

<link rel="icon" type="image/png" href="{{ $iconPath }}_192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="{{ $iconPath }}_160x160.png" sizes="160x160">
<link rel="icon" type="image/png" href="{{ $iconPath }}_96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="{{ $iconPath }}_32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="{{ $iconPath }}_16x16.png" sizes="16x16">

<meta name="msapplication-TileColor" content="#FF0099">
<meta name="msapplication-TileImage" content="{{ $iconPath }}_144x144.png">
