{{ range $head := ( .Param "heads" | default slice ) }}
    {{ printf "head/%s.html" $head | partial }}
{{ end }}

{{ $styleFolderPath := "app/static/style" }}
{{ if ( fileExists $styleFolderPath ) }}
{{ range ( readDir $styleFolderPath ) }}
    {{ $fileExtension := split .Name "." | last 1 }}
    {{ if index $fileExtension 0 | eq "css" }}
    <link rel="stylesheet" href="/style/{{ .Name }}">
    {{ end }}
{{ end }}
{{ end }}

{{ $scriptFolderPath := "app/static/script" }}
{{ if ( fileExists $scriptFolderPath ) }}
{{ range ( readDir $scriptFolderPath ) }}
    {{ $fileExtension := split .Name "." | last 1 }}
    {{ if index $fileExtension 0 | eq "js" }}
    <script defer
            src="/script/{{ .Name }}">
    </script>
    {{ end }}
{{ end }}
{{ end }}

