{{ define "main" }}


<div class="key-visual" style="background-image: url({{ .Param "key-visual-url" }})">

    <div class="logo__white edge-spacer--h">
        {{ partial "svgs/logo_mono.html" }}
    </div>

    {{ partial "components/banner.html" . }}
</div>


<section class="edge-spacer--h">

    {{ $postsSectionPath := printf "%s/%s" "blog" "beitraege" }}
    {{ $posts := $.Site.GetPage "section" $postsSectionPath }}
    {{ $posts := first 3 $posts.Pages.ByDate.Reverse }}
    
    <h1 class="section-title">{{ i18n "recent-blog-posts" (len $posts) }}</h1>
    
    <ul class="post-teasers">
        {{ range $posts }}
        <li class="post-teaser">
            {{ .Scratch.Set "teaser-text-length" 500 }}
            {{ partial "components/post-preview.html" . }}
        </li>
        {{ end }}
    </ul>
</section>


<section class="edge-spacer--h">
    {{ $offers := $.Param "offers" | default slice }}
    
    <h1 class="section-title">{{ i18n "special-offers" (len $offers) }}</h1>

    <ul class="special-offers">
        {{ range $offers }}
        <li>
            {{ partial "components/special-offer.html" . }}
        </li>
        {{ end }}
    </ul>
</section>

{{ end }}
