{{ define "main" }}


<div class="key-visual" style="background-image: url({{ .Param "key-visual-url" }})">

    <div class="logo__white edge-spacer--h">
        {{ partial "svgs/logo_mono.html" }}
    </div>

    {{ partial "components/banner.html" . }}
</div>


<section class="edge-spacer--h">

    {{ $articlesSectionPath := printf "%s/%s" "blog" "articles" }}
    {{ $articles := $.Site.GetPage "section" $articlesSectionPath }}
    {{ $articles := first 3 $articles.Pages.ByDate.Reverse }}
    
    <h1 class="section-title">{{ i18n "recent-blog-posts" (len $articles) }}</h1>
    
    <ul class="article-teasers">
        {{ range $articles }}
        <li class="article-teaser">
            {{ .Scratch.Set "teaser-text-length" 500 }}
            {{ partial "components/article-preview.html" . }}
        </li>
        {{ end }}
    </ul>
</section>


<section class="edge-spacer--h">
    {{ $offers := $.Param "offers" | default slice }}
    
    <h1 class="section-title">{{ i18n "special-offers" (len $offers) }}</h1>

    <ul class="special-offers">
        {{ range $offers }}
        <li>
            {{ partial "components/special-offer.html" . }}
        </li>
        {{ end }}
    </ul>
</section>

{{ end }}
