{{ define "main" }}

{{ $itemsPerPage := $.Param "itemsPerPage" | default 5 }}
{{ $postList := .Data.Pages }}

{{ $paginator := .Paginate ($postList.ByDate.Reverse) $itemsPerPage }}
<section class="edge-spacer--h">

    <h1 class="page-title">{{ i18n "tag" 1 }}: {{ .Title }}</h1>
    <p class="page-subtitle">
        {{ i18n "page" 1 }}
        {{ $paginator.PageNumber }}
        {{ i18n "page-number-separator" }}
        {{ $paginator.TotalPages }}
    </p>

    <div class="row-2-cols">
        <article class="col--left">
        {{ if gt (len $postList) 0 }}
            <ul class="posts">
                {{ range $postList }}
                <li>
                    {{ partial "components/post-preview.html" . }}
                </li>
                {{ end }}
            </ul>
            
            {{ partial "components/posts-list-nav.html" $paginator }}
        {{ else }}
            {{ i18n "no-post" }}
        {{ end }}
        </article>
        
        {{ partial "components/blog-sidebar.html" . }}
    </div>
    
</section>
{{ end }}
