{{ define "main" }}

{{ $itemsPerPage := index $.Params "itemsPerPage" | default 5 }}
{{ $articleList := .Data.Pages }}

{{ $paginator := .Paginate ($articleList.ByDate.Reverse) $itemsPerPage }}
<section class="edge-spacer--h">

    <h1>{{ i18n "tag" 1 }}: {{ .Title }}</h1>

    <div class="row-2-cols">
        <article>
        {{ if gt (len $articleList) 0 }}
            <ul>
                {{ range $articleList }}
                <li>
                    {{ partial "components/article-preview.html" . }}
                </li>
                {{ end }}
            </ul>
            
            {{ partial "components/article-nav.html" $paginator }}
        {{ else }}
            {{ i18n "no-article" }}
        {{ end }}
        </article>
        
        {{ partial "components/blog-sidebar.html" . }}
    </div>
    
</section>
{{ end }}
