
.header__container {
        
    .header__inner {
        position: relative;

        .menu-toggle {
            position: fixed;
            top: 15px;
            left: 15px;
            z-index: 10;

            @include bp-medium() {
                display: none;
            }

            &__svg {
                display: inline-block;
                fill: white;
                vertical-align: middle;
                position: relative;
                top: -0.0625em;

                .group {
                    top: 0;

                    .line-1 {
                        transform-origin: 1em 2.5em;
                    }

                    .line-3 {
                        transform-origin: 1em 4.5em;
                    }
                }

                .line {
                    opacity: 1;
                    transform: rotate(0) translateY(0) translateX(0);
                    border-radius: 7px;
                    transform-origin: 1em 1em;
                    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
                }
            }
        }
    }

    .row-wrap__nav {
        display: none;
        background-color: rgba( color(brand-pink), 0.8 );

        @include bp-medium() {
            display: block;
            width: 100%;
            transition: background-color 0.15s;
            background-color: none;
        
            @include flex-center;
        }
    }
    
    
    .row-wrap__contacts {
        width: 100%;
        transition: background-color 0.15s;
        
        @include flex-center;
    } 
    
    .row-wrap__contacts {
        height: $mobile_header-height_row-thin_rel * 1vh;
        min-height: rem($mobile_header-height_row-thin);
        background-color: color(bg-dark);
        color: color(white);
        padding: rem(16) 0;

        @include bp-medium() {
            height: $desktop_header-height_row-thin_rel * 1vh;
            min-height: rem($desktop_header-height_row-thin);
            padding: 0;
        }
                
        .row-wrap__contacts--inner {
            width: 100%;
        }
        
        .contact {
            width: 100%;
            //max-width: rem(1060);
            display: flex;
            flex-flow: column nowrap;
            gap: rem(16);
            align-items: center;

            @include bp-medium() {
                flex-flow: row nowrap;
                justify-content: space-between;
                margin: rem(23) 0;
            }
            
            & > *:first-child {
                font-weight: 700;
            }
            
            @include type(m);
            
            address {
                display: inline;
            }
            
            * {
                font-weight: inherit;
            }
            
            li {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;
            }
            .opening-hours {
                span {
                    text-align: center;
                    padding: 0 rem(4);
                }
            }
            
            .icon {
                fill: color(white);
                height: rem(16);
                margin-right: rem(16);
            }
        }
    }
    
    .row-wrap__nav {
        height: $desktop_header-height_row-thick_rel * 1vh;
        min-height: rem($desktop_header-height_row-thick);
        
        background-color: color(brand-pink);
        color: color(white);
        
        @include bp-medium() {
            height: rem($desktop_header-height_row-thick);
            background-color: color(brand-pink);
        }
    }
    

    
    &[data-offset="0"] {
        .row-wrap__contacts {
            background-color: color(bg-dark);
        }
        
        .row-wrap__nav {
            background-color: color(brand-pink);
        }
    }
}


#site[data-state_header="changed"] {
    
    .header__inner {
        .row-wrap__contacts {
            
        }
        
        .row-wrap__nav {
            background-color: rgba( color(brand-pink), 0.8 );
        }
    }

}

#site[data-state_header_menu="open"] {
    .menu-toggle__svg .group {
        .line-1 {
            transform: rotate(45deg) translateY(0) translateX(0);
        }

        .line-2 {
            opacity: 0;
        }

        .line-3 {
            transform: rotate(-45deg) translateY(0) translateX(0);
        }
    }

    .header__inner {
        .row-wrap__nav {
            display: flex;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            bottom: 0;

            @include bp-medium() {
                position: relative;
            }
        }
    }
}
