{{ define "head" }}
{{ end }}


{{ define "aside" }}
{{ $pagesInTopMenu := where $.Site.Menus.top ".Page.UniqueID" .UniqueID }}    

{{ if le (len $pagesInTopMenu) 0 }}
<aside class="aside__flow" id="page-aside">
    {{ partial "components/aside.html" . }}
</aside>
{{ end }}

{{ end }}


{{ define "main" }}

{{ $contentsPath := "./app/contents" }}
{{ $section := .Section }}
{{ $parent := .Parent }}
{{ $currentPage := . }}  

<section class="edge-spacer--h">
    
    <h1 class="page-title">{{ .Title }}</h1>
    {{ with $.Params.subtitle }}
    <p class="page-subtitle">{{ . }}</p>
    {{ end }}
    
    {{ if gt (len .Sections) 0 }}
    <ul class="rubric--grid for-categories">
        {{ range sort .Sections ".Params.weight" "asc" }}
        {{ if not .Params.headless }}
        <li>
            <a href="{{ .URL | relLangURL }}">
                <div class="wrap">
                    <div class="bg" style="background-image: url('{{ default "/media/images/pictures/default.png" .Params.image }}')"></div>
                    <div class="fg {{ if isset .Params "explanation" }}is-explanation{{ end }}">
                        <h2>{{ index .Params "explanation" | default .LinkTitle }}</h2>
                    </div>
                </div>
                <div class="subtitle">
                    <h3>{{ .LinkTitle }}</h3>
                </div>
            </a>
        </li>
        {{ end }}
        {{ end }}
    </ul>
    {{ else if gt (len .Pages) 0}}
    <ul class="rubric--grid for-items">
        {{ range sort .Pages ".Params.model" "asc" }}
        {{ if not .Params.headless }}
        <li>
            <a href="{{ .URL | relLangURL }}">
                <div class="wrap">
                    <div class="bg" style="background-image: url('{{ default "/media/images/pictures/default.png" .Params.image }}')"></div>
                    <div class="fg">
                        <h2>{{ .Params.model }}</h2>
                    </div>
                </div>
                <div class="subtitle">
                    <h3>{{ .Params.model }} ({{ .Params.manufacturer }})</h3>
                </div>
            </a>
        </li>
        {{ end }}
        {{ end }}
    </ul>
    {{ end }}
    

    
</section>
{{ end }}
