{{ define "head" }}
<link rel="stylesheet" href="/style/vendors/slick.css">
<link rel="stylesheet" href="/style/vendors/slick-theme.css">
{{ end }}

{{ define "dependencies" }}
<script defer
        src="/script/vendors/jquery.js">
</script>
<script defer
        src="/script/vendors/slick.js">
</script>
{{ end }}


{{ define "aside" }}
<aside class="aside__flow" id="page-aside">
    {{ partial "components/aside.html" . }}
</aside>
{{ end }}


{{ define "main" }}

{{ $configurable := $.Param "configurable" | default false }}
{{ $posts := $.Param "related-posts" | default slice }}

<section class="edge-spacer--h">
    
    <h1 class="page-title">{{ $.Params.model }}</h1>
    {{ with $.Params.manufacturer }}
    <p class="page-subtitle">{{ . }}</p>
    {{ end }}
    
    
    <div class="row">
        
        {{ partial "components/image-gallery.html" . }}
        
    </div>
    
    
    <div class="description">
        <p>
            {{ index .Params "description" | default (i18n "no-description") | markdownify }}
        </p>
        
        {{ if gt (len $posts) 0 }}
        <div class="post-links">
            <span>{{ i18n "related-posts" }}:</span>
            <ul>
                {{ range $posts }}
                {{ $path := printf "blog/beitraege/%s" . }}
                {{ with $.Site.GetPage "page" $path }}
                <li>
                    <a href="{{ .URL | relLangURL }}">{{ .LinkTitle }}</a>
                </li>
                {{ end }}
                {{ end }}
            </ul>
        </div>
        {{ end }}
    </div>
    
    
    {{ if $configurable }}
    <div class="configurator-link">
        <a href="https://hartje-konfigurator.de/de/contoura" target="_blank">
            <span>{{ i18n "configure-now" }}</span>
        </a>
    </div>
    {{ end }}
    
    
    {{ $specsList := $.Params.specs }}
    {{ if $specsList }}
    
    {{ $.Scratch.Add "specs" slice }}
    
    {{ range $specsList }}
    {{ $spec := . }}
    {{ range $specName, $value := $spec }}
        {{ if $value }}
        {{ $.Scratch.Add "specs" $spec }}
        {{ end }}
    {{ end }}
    {{ end }}
    
    {{ $specs := $.Scratch.Get "specs" }}    
    {{ div (len $specs) 2.0 | $.Scratch.Set "splitPoint" }}
    
    {{ if not (modBool (len $specs) 2) }}
        {{ $.Scratch.Get "splitPoint" | math.Ceil | $.Scratch.Set "splitPoint" }} 
    {{ end }}
    {{ if eq (len $specs) 1 }}
        {{ $.Scratch.Set "splitPoint" 1 }}
    {{ else if gt ($.Scratch.Get "splitPoint") (len $specs) }}
        {{ len $specs | $.Scratch.Set "splitPoint" }}
    {{ end }}

    {{ $splitPoint := $.Scratch.Get "splitPoint" }}
    
    <div class="specs row-2-cols">
        {{ $colLeft := first $splitPoint $specs }}
        <ul class="col--left">
        {{ range $colLeft }}
            {{ template "spec-item" . }}
        {{ end }}
        </ul>

        {{ if lt $splitPoint (len $specs) }}
        {{ $colRight := after $splitPoint $specs }}
        <ul class="col--right">
        {{ range $colRight }}
            {{ template "spec-item" . }}
        {{ end }}
        </ul>
        {{ end }}
    </div>
    {{ end }}
    
    {{ with $.Params.copyright }}
    <div class="copyright">
        <em>{{ $.Params.copyright }}</em>
    </div>
    {{ end }}
    
</section>
{{ end }}



{{ define "spec-item" }}
    {{ range $spec, $value := . }}

    {{ if $value }}
    <li>
    {{ if not (isset $value 0) }}
        <span class="label">{{ i18n $spec 1 }}</span>
        <span class="value">{{ $value }}</span>
    {{ else }}
        <span class="label">{{ i18n $spec (len $value) }}</span>
        <span class="value">{{ delimit $value ", " }}</span>
    {{ end }}
    </li>
    {{ end }}

    {{ end }}
{{ end }}
