.section--blog, .section--tags {
    
    .contents {
        
        .row-2-cols {
            .col--left {
                flex-grow: 1;

                .articles, .article--contents {
                    h3 {
                        margin-bottom: rem(30);
                        @include type(xxxl);
                        font-weight: 600;
                    }
                    
                    p + h3 {
                        margin-top: rem(50);
                    }
                }
                
                .articles {
                    > li {
                                        
                        & ~ *{
                            margin-top: rem(spacing(6))
                        }
                        
                    }
                }
                
                .article--content {
                    h2 {
                        font-size: rem(34);
                        margin-bottom: rem(spacing(4));
                    }
                    
                    p + h2 {
                        margin-top: rem(60);
                    }
                    
                    ul {
                        list-style: disc outside;
                        padding-left: 1em;
                        
                        margin: rem(30) 0;
                        
                        li {
                            & ~ li {
                                margin-top: rem(spacing(1));
                            }
                        }
                        
                        ul {
                            list-style: circle outside;
                            padding-left: 1.5em;
                            margin: rem(spacing(1)) 0;
                        }
                    }
                    
                    em {
                        font-family: 'Open Sans Italic';
                    }
                    
                    a {
                        @include text-link;
                    }
                }

            }    
        }
        
        .component__blog-sidebar {
            max-width: rem(350);
            margin-left: rem(spacing(10));
        }
        
        
        figure {
            text-align: center;
            
            margin: rem(30) 0; 
            
            img, figcaption {
                width: 90%;
            }
            
            figcaption {
                margin-left: auto;
                margin-right: auto;
                
                @include type(m);
                font-weight: 300;
                color: color(greyer);
                
                p {
                    font-family: 'Open Sans Italic';
                    font-weight: inherit;
                }
            }
        }
        
    }
}
