.page--home {
    
    .contents:before {
        height: percentageDesktopPageHeight($desktop_header-height_row-thin);
        min-height: rem($desktop_header-height_row-thin);
    }
    
    .key-visual {
        width: 100%;
        height: calc(100vh - #{rem($desktop_header-height_row-thin)});
        
        background-repeat: no-repeat;
        background-size: cover;
        
        position: relative;
        
        @include flex-center;
    }
    
    .logo__white {
        min-height: rem(380);
        height: 42.2vh;
        
        width: 100%;
        text-align: center;
        
        padding-left: rem($mobile_side-padding * 2);
        padding-right: rem($mobile_side-padding * 2);
        
        svg {
            display: inline;
            height: 100%;
            max-width: 100%;
            fill: color(white);
        }
    }
}
