.type--rubric {
    
    .contents {
        
        section {
            &:first-child {
                margin-top: rem($desktop_aside-gap);
            }
            
            &:last-child {
                margin-bottom: rem($desktop_aside-gap);
            }
        } 
        
        
        .rubric--grid {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            
            $desktop-tile-margin: spacing(4);

            & > * {
                @include bp-desktop() {
                    width: calc(100% / 3);
                }
                @include bp-mobile() {
                    width: 100%;
                }
            }
        
            & > :nth-child(3n + 1) {
                @include bp-desktop() {
                    padding-right: rem($desktop-tile-margin * 2/3);
                }
            }
            & > :nth-child(3n + 2) {
                @include bp-desktop() {
                    padding-left: rem($desktop-tile-margin * 1/3);
                    padding-right: rem($desktop-tile-margin * 1/3);
                }                
            }
            & > :nth-child(3n + 3) {
                @include bp-desktop() {
                    padding-left: rem($desktop-tile-margin * 2/3);
                }
            }
            
            & > :nth-last-child(2):nth-child(3n + 1){
                @include bp-desktop() {
                    padding-left: rem($desktop-tile-margin * 1/6);
                    padding-right: rem($desktop-tile-margin * 1/2);   
                }
            }
            & > :nth-last-child(1):nth-child(3n + 2) {
                @include bp-desktop() {
                    padding-left: rem($desktop-tile-margin * 1/2);
                    padding-right: rem($desktop-tile-margin * 1/6);   
                }
            }
            
            & > :nth-last-child(1):nth-child(3n + 1){
                @include bp-desktop() {
                    padding-left: rem($desktop-tile-margin * 1/3);
                    padding-right: rem($desktop-tile-margin * 1/3);                    
                }
            }

            & > :nth-child(n + 4) {
                @include bp-desktop() {
                    margin-top: rem($desktop-tile-margin);
                }
            }
            
            & > li {
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    
                    .wrap {
                        position: relative;
                        overflow: hidden;
                        background-color: color(white);                         
                        padding: 0 rem(spacing(1));
                    }
                    
                    &:hover, &:focus {
                        .bg {
                            transform: scale(1.1);
                        }
                        
                        .fg {
                            top: 0;
                        }
                        
                        .subtitle h3 {
                            bottom: 100%;
                            transition: bottom .15s ease-in-out 0.0s;
                        }
                    }
                    
                    .bg, .fg {
                        position: inherit;
                        top: 0;
                        left: 0;
                        width: 100%;
                        
                        @include bp-desktop() {
                            height: rem(250);
                        }
                        @include bp-mobile() {
                            height: rem(200);
                        }
                    }
                    
                    .bg {
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-color: transparent;
                        background-blend-mode: normal;
                        
                        transition: transform .4s ease-in-out 0.0s;
                        transform: scale(1.00);
                    }
                    
                    .fg {
                        position: absolute;
                        top: 100%;
                        
                        padding: 0 15%;
                        text-align: center;
                        
                        @include flex-center;
                        
                        transition: top .25s ease-in-out 0.07s;

                        h2 {
                            font-size: rem(40);
                            font-weight: 600;
                            color: color(brand-pink);
                            font-family: $decorative-font-family;
                            line-height: 1.2;
                            margin: 0;
                        }
                    }
                    .subtitle {
                        overflow: hidden;
                        height: rem(26);
                        position: relative;
                        
                        h3 {
                            @include type(m);
                            font-weight: 300;
                            color: color(greyer);
                            font-family: 'Open Sans Italic';
                            text-align: center;
                            bottom: 0;
                            position: absolute;
                            width: 100%;
                            padding: 0 rem(spacing(2));
                            margin: 0;
                            
                            transition: bottom .15s ease-in-out 0.2s;
                        }
                    }
                }
            }
        }
        
        .description {
            max-width: 70%;
            margin: rem(spacing(6)) auto;
            
            .post-links {
                margin-top: rem(spacing(2));
                ul {
                    list-style: initial;
                    margin-left: 1em;
                    
                    li:before {
                        contents: '';
                    }
                }
                
                a {
                    @include text-link;
                }
            }
        }
        
        .configurator-link {
            text-align: center;
            
            a {
                @include btn--primary;
                
                @include type-size(ml);
                font-weight: 400;
                
                &:before {
                    margin-bottom: -8%;
                }
                
                &:hover, &:focus {
                    &:before {
                        height: 260%;
                    }
                }
            }
        }
            
        .specs {
            max-width: 70%;
            margin: rem(spacing(6)) auto rem($desktop_aside-gap);
            display: flex;
            flex-flow: row wrap;
        
            .col--left {
                padding-right: rem(spacing(3));
            }
            .col--right {
                padding-left: rem(spacing(3));
            }
            
            ul {
                
            }
            
            li {
                
            }
            
            .label { 
                &:after {
                    content: ':';
                }
            }
        }
    }
    
}
